<html>
    <body>
        <form action="/calc" method="post">
            <table>
                <tr><td>benefitType:</td> <td><input type="text" name="benefitType"><br></td></tr>
                <tr><td>a: </td> <td><input type="text" name="a"><br></td></tr>
                <tr><td>b: </td> <td><input type="text" name="b"><br></td></tr>
                <tr><td>c: </td> <td><input type="text" name="c"><br></td></tr>
                <tr><td><input type="submit" value="Calculate"></td></tr>
            </table>
        </form>
    </body>
</html>